.App {
  text-align: center;
}
.App-list {
  /* padding: 10px 100px; */
  background-color: rgb(228, 63, 22);
  box-shadow: 30px 20px 20px goldenrod;
  width: 300px;
  margin: 10px 0 0 500px;
  padding: 10px;
  transition: background 0.2s ease, padding 0.1s linear;
}
.App-list:hover {
  background-color: rgb(19, 190, 85);
  padding: 20px;
}
